.body{
    padding: 0px;
    margin: 0px;
}
.main-wrapper{
    background-image: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 0 !important;*/
}
.invite-section{
    /*border: 1px solid black;*/
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
}

/*.invite-wrapper{*/
    /*!*border: 1px solid red;*!*/
    /*width: 350px;*/
    /*!*height: 200px;*!*/
/*}*/

.video-section{
    /*border: 1px solid black;*/
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

input{
    border-radius: 0 !important;
    background-color: #eee !important;
}

button{
    background-color: red;
    border-radius: 0 !important;
    color: white;
    font-weight: bold !important;
}

iframe{
    display: inline-block;
    height: 300px;
    width: 85% !important;
    float: right !important;
    margin-top: -5%;
}
.logo-div{
    /*border: 1px solid red;*/
    padding: 0 !important;
    margin:0 !important;
    position: relative;
    padding-left: 5px !important;
}

.logo-div>img{
}

.date{
    font-size: 18px;
    /*border: 1px solid red;*/
    margin-top: 5px;
    color: #000264;
    font-weight: bold;
}
.decs-text{
    font-size: 15px;
    /*margin:0;*/
    margin-bottom: 35px !important;
    margin-right: -15px;
    /*border: 1px solid red;*/
    color: #000264;
    font-weight: bold;
    float: right;
}

.mob-wrapper{
    display: none;
}
@media (max-width: 1000px) {
    body{
        /*background-color: red;*/
    }

    .main-wrapper{
        padding: 0!important;
    }
    .invite-section{
        /*border:1px solid red;*/
        padding-bottom: 70px !important;
        margin: 0 !important;
    }
    .top-desc, .date{
        display: none !important;
    }

    iframe{
        width: 100% !important;
        /*border: 1px solid red;*/
        background-color: red;
        height: 400px;
        float: none !important;
        display: block;
        margin: 0;
    }
    .video-section{
        padding:0;
    }

    .mob-wrapper{
        /*border:1px solid red;*/
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #e5e5e5;
        width: 100% !important;
        margin:0 !important;
        display: inline-block;
    }
    .mod-logo-div{
        /*border:1px solid green;*/
        width: 134px;
        margin: 10px auto 10px auto;
    }

    .mob-logo{

    }

    .mob-desc{
        font-size: 20px;
        color: #000264;
        font-weight: bold;
    }
    .mob-date{
        font-size: 18px;
        color: #000264;
        font-weight: bold;
    }
}
